*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "nav"
                         "main"
                         "rodape";
} 

.nav {
    background-color: rgb(189, 212, 221);
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    
    
}

.nav a:hover {
    transition-duration: 2s;
    font-size: 20px;
    font-weight: bold;
    
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#imgmain{
    width: 200px;
    border-radius: 100px;
}

.main p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.footer {
    background-color: rgb(189, 212, 221);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkslogo{
    width: 30px;
    padding: 14px;
    /*margin-top: 200px;*/
}

#title {
    font-size: 28px;
}

.mainProj {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projetos{
    background-color: rgba(201, 12, 12, 0.6);
    opacity: 0.7;
    width: 235px;
    height: 234px;
}

.projetos img {
    width: 234px;
}

.mainProj p {
    font-family: sans-serif;
    top: 127px;
    font-size: 29px;
    position: absolute;
    top: 140px;
}

.projetos:hover {
    transition-duration: 2s;
    transform: scale(1.1);
}